@model Aristino.ViewModel.CategoryVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AristinoAdmin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Chỉnh Sửa</h1>

<h4>Danh Mục</h4>
<hr />
<div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form form-horizontal" id="formupload" asp-action="Edit" method="post">
                                            <div class="form-body">
                                                <div class="row">
                                                    <input type="hidden" asp-for="CategoryId"/>
                                                    <div class="col-md-4">
                                                        <label>Tên Danh Mục</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text" class="form-control"
                                                            asp-for="CategoryName" placeholder="Category Name">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Mô Tả</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text"  class="form-control"
                                                            asp-for="CategoryDescription" placeholder="Description">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Hình Đại Diện</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                         <div class="card">
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <!-- File uploader with image preview -->
                                                                    <input type="file" class="image-preview-filepond">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 d-flex justify-content-end">
                                                        <button type="submit"
                                                            class="btn btn-primary me-1 mb-1">Tạo</button>
                                                        <button type="reset"
                                                            class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{
    @if (TempData["ErrorList"] != null)
    {
        @await Html.PartialAsync("~/Areas/AristinoAdmin/Views/Shared/SweetAlertPartialView/_AdminSweetAlert.cshtml",new{getErrorList=ViewBag.ErrorList});
        @TempData.Remove("ErrorList");
    }
    @if (TempData["Success"] != null)
    {
        @await Html.PartialAsync("~/Areas/AristinoAdmin/Views/Shared/SweetAlertPartialView/_AdminSuccessSweetAlert.cshtml",new{Success=TempData["Success"]});
        @TempData.Remove("Success");
    }
    @if (TempData["CategoryExisted"] != null)
    {
        @await Html.PartialAsync("~/Areas/AristinoAdmin/Views/Shared/SweetAlertPartialView/_AdminErrorSweetAlert.cshtml",new{Error=TempData["CategoryExisted"]});
        @TempData["CategoryExisted"];
    }
    @if (TempData["Error"] != null)
    {
        @await Html.PartialAsync("SweetAlertPartialView/_AdminErrorSweetAlert.cshtml",new{Error=TempData["Error"]})
        @TempData.Remove("Error")
    }
    @await Html.PartialAsync("~/Areas/AristinoAdmin/Views/Shared/FilePond/_UploadImage.cshtml",
    new{InputClass=".image-preview-filepond",FormId="#formupload",ActionName="Edit",ControllerName="AdminCategories",ImageGallery=ViewBag.Image,ProductName=ViewBag.CategoryName,AllowMultiple="false"})
}

