@model Aristino.Models.AristinoPolicy

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/AristinoAdmin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AristinoPolicy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyContent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PolicyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
