@model Aristino.Models.AboutU

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AristinoAdmin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Chỉnh Sửa</h1>

<h4>Thông Tin Cửa Hàng</h4>
<hr />
<div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form form-horizontal" id="formupload" asp-action="Create" enctype="multipart/form-data" method="post">
                                            <div class="form-body">
                                                <div class="row">
                                                    <input type="hidden" asp-for="Id" />
                                                    <div class="col-md-4">
                                                        <label>Địa Chỉ</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text" class="form-control"
                                                            asp-for="ShopAddress" placeholder="Địa Chỉ">
                                                    </div>   
                                                    <div class="col-md-4">
                                                        <label>Thành Phố</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text"  class="form-control"
                                                            asp-for="City" placeholder="Thành Phố">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Tỉnh</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text" class="form-control" placeholder="Tỉnh" asp-for="Province" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Số Điện Thoại</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text" class="form-control" placeholder="Số Điện Thoại" asp-for="PhoneNumber"/>
                                                    </div>
                                                     <div class="col-md-4">
                                                        <label>Email</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="email" class="form-control" placeholder="Email" asp-for="Email" />
                                                    </div>
                                                    <div class="col-sm-12 d-flex justify-content-end">
                                                        <button type="submit"
                                                            class="btn btn-primary me-1 mb-1">Tạo</button>
                                                        <button type="reset"
                                                            class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


<div>
    <a asp-action="Index">Quay Lại</a>
</div>
