@model Aristino.ViewModel.DiscountBannerVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AristinoAdmin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.DiscountError = TempData["DiscountError"];
}

<h1>Chỉnh Sửa</h1>

<div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form form-horizontal" id="formupload" asp-action="Edit" enctype="multipart/form-data" method="post">
                                            <div class="form-body">
                                                <div class="row">
                                                    <input type="hidden" asp-for="DiscountId"/>
                                                    <input type="hidden" asp-for="StartSale"/>
                                                    <div class="col-md-4">
                                                        <label>Tên Giảm Giá</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text" class="form-control"
                                                            asp-for="DiscountName" placeholder="Discount Name">
                                                    </div>   
                                                    <div class="col-md-4">
                                                        <label>Phần Trăm Giảm Giá</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="number"  class="form-control"
                                                            asp-for="DiscountRate" placeholder="Discount Rate">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Danh Mục Sản Phẩm Giảm Giá</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.CategoryId">
                                                            <option value="" disabled selected></option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Banner</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">      
                                                         <div class="card">
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <!-- File uploader with image preview -->
                                                                    <input type="file" class="image-preview-filepond">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Ngày Kết Thúc Sale</label>
                                                    </div>
                                                    <div class="col-md-8 form-group">      
                                                        <input type="date" class="form-control" asp-for="EndDate"/>
                                                    </div>
                                                     <div class="col-md-4">
                                                        <label>Giờ Kết Thúc Sale</label>
                                                    </div>
                                                    <div class="col-md-8 form-group"> 
                                                        <input type="time" class="form-control" asp-for="EndTime" />
                                                    </div>
                                                    <div class="col-sm-12 d-flex justify-content-end">
                                                        <button type="submit"
                                                            class="btn btn-primary me-1 mb-1">Chỉnh Sửa</button>
                                                        <button type="reset"
                                                            class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
<div>
    <a asp-action="Index">Quay Lại</a>
</div>
@section Scripts{
    @await Html.PartialAsync("FilePond/_UploadImage.cshtml",
    new{InputClass=".image-preview-filepond",FormId="#formupload",ActionName="Edit",ControllerName="AdminDiscountBanners",ImageGallery=ViewBag.ImageGallery,ProductName=ViewBag.DiscountName,AllowMultiple="false"})
    @if (TempData["DiscountError"]!=null)
    {
        @await Html.PartialAsync("SweetAlertPartialView/_AdminSweetAlert.cshtml",new{getErrorList=ViewBag.DiscountError})
    }
    @if(TempData["Error"]!=null)
    {
        @await Html.PartialAsync("SweetAlertPartialView/_AdminErrorSweetAlert.cshtml",new{Error=TempData["Error"]})
        @TempData.Remove("Error")
    }
}